body { 
    margin:0 ;
    padding: 0;
    /* background-color: grey;  */
    /* background-image: url('docs/assets/styles/area.png');
    background-repeat: no-repeat;
    background-size: cover; */
}

.bg {
    right: 5;
    left: 10;
    width: 95vw;
    height: 85vh;
}

canvas {
    position: absolute;
    top: 0;
    bottom: 12;
    right: 5;
    left: 20;
    margin:auto;
    width: 450px;
    height: 480px;
    background-color: white; 
    
    font-style: normal;
    font-weight: normal;
}

.botton {
  
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
}


.teste 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
}