body {
  margin: 0;
  padding: 0;
  /* background-color: grey;  */
  /* background-image: url('docs/assets/styles/area.png');
    background-repeat: no-repeat;
    background-size: cover; */
  background: #2c2c6c;
}

.bg {
  margin-left: 100px;
  margin-top: 20px;
  right: 5;
  left: 10;
  width: 85vw;
  height: 75vh;
}

canvas {
  position: fixed;

  top: 20px;
  margin-bottom: 0px;

  width: 450px;
  height: 450px;
  background-color: rgba(247, 247, 248, 0.991);
  border-radius: 2rem;
}

.teste {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: small;
}
.btns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: -85px;
  margin-left: 550px;
  width: max-content;
  display: inline-block;
 
}

.Frase {
  text-align: center;
  color: white;
  font-size: x-large;
}
